.select-sort {
  > p {
    display: block;
    margin-bottom: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 29px;

    color: #58575c;

    opacity: 0.6;
  }
}
