<div class="select-sort">
    <p>Сортировать по:</p>
    <select class="select" name="sort">
        <option disabled value="ДатеУ">Дате (по убыванию)</option>
        <option value="ДатеУ">Дате (по убыванию)</option>
        <option value="ДатеВ">Дате (по возрастанию)</option>
        <option value="ОценкеУ">Оценке (по убыванию)</option>
        <option value="ОценкеВ">Оценке (по возрастанию)</option>
    </select>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
        $('.select').each(function() {
                const _this = $(this),
                    selectOption = _this.find('option'),
                    selectOptionLength = selectOption.length,
                    selectedOption = selectOption.filter(':selected'),
                    duration = 0; // длительность анимации 

                _this.hide();
                _this.wrap('<div class="select"></div>');
                $('<div>', {
                    class: 'new-select',
                    text: _this.children('option:disabled').text()
                }).insertAfter(_this);

                const selectHead = _this.next('.new-select');
                $('<div>', {
                    class: 'new-select__list'
                }).insertAfter(selectHead);

                const selectList = selectHead.next('.new-select__list');
                for (let i = 1; i < selectOptionLength; i++) {
                    $('<div>', {
                        class: 'new-select__item',
                        html: $('<p>', {
                            text: selectOption.eq(i).text()
                        })
                    })
                    .attr('data-value', selectOption.eq(i).val())
                    .appendTo(selectList);
                }

                const selectItem = selectList.find('.new-select__item');
                selectList.slideUp(0);
                selectHead.on('click', function() {
                    if ( !$(this).hasClass('on') ) {
                        $(this).addClass('on');
                        selectList.slideDown(duration);

                        selectItem.on('click', function() {
                            let chooseItem = $(this).data('value');

                            $('select').val(chooseItem).attr('selected', 'selected');
                            selectHead.text( $(this).find('p').text() );

                            selectList.slideUp(duration);
                            selectHead.removeClass('on');
                        });

                    } else {
                        $(this).removeClass('on');
                        selectList.slideUp(duration);
                    }
                });
            });
        });
    </script>
</div>

