.favorites-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
  gap: 10px;
  width: 100%;
  padding: 0 40px 100px;
  .product {
    margin: 0;
    box-shadow: 0px 9px 15px -4px rgba(224, 228, 229, 0.62);
  }
}

@media (max-width: 1024px) {
  .favorites-list {
    grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .favorites-list {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 30px;
    padding: 0 36px 100px;
  }
}
@media (max-width: 490px) {
  .favorites-list {
    grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
  }
}
@media (max-width: 460px) {
  .favorites-list {
    gap: 20px;
    padding: 0 16px 100px;
  }
}
@media (max-width: 375px) {
  .favorites-list {
    grid-template-columns: repeat(auto-fill, minmax(126px, 1fr));
  }
}
@media (max-width: 320px) {
  .favorites-list {
    gap: 10px;
    padding: 0 10px 100px;
  }
}
@media (max-width: 319px) {
  .favorites-list {
    grid-template-columns: repeat(auto-fill, minmax(126px, 1fr));
  }
}
