<div class="favorites-list">
    @@include('../../bem-blocks/product/_product.html')
    @@include('../../bem-blocks/product/_product.html')
    @@include('../../bem-blocks/product/_product.html')
    @@include('../../bem-blocks/product/_product.html')
    @@include('../../bem-blocks/product/_product.html')
    @@include('../../bem-blocks/product/_product.html')
    @@include('../../bem-blocks/product/_product.html')
    @@include('../../bem-blocks/product/_product.html')
    @@include('../../bem-blocks/product/_product.html')
</div>