<section class="basket">
    <div class="basket__products">
        @@include('../../bem-blocks/basket-product/_basket-product.html',{"class":"removed"})
        @@include('../../bem-blocks/basket-product/_basket-product.html',{"class":""})
        @@include('../../bem-blocks/basket-product/_basket-product.html',{"class":""})
    </div>
    <div class="basket__checkout">
        @@include('../../page-blocks/checkout-basket/_checkout-basket.html') 
    </div>
</section>



@@include('../../page-blocks/similar-row/_similar-row.html', {"title":"Вам может быть интересно"})
