<section class="interesting-row">

    <div class="interesting-row__title">
        <h3>Вам может быть интересно</h3>
        <a class="green-link" href="#">
            Смотреть все товары
            <img src="img/svg/arrow-link.svg" alt="arrow-link">
        </a>
    </div>
    
    
    <div class="interesting-row__row">
        @@include('../../bem-blocks/adaptive-product/_adaptive-product.html')
        @@include('../../bem-blocks/adaptive-product/_adaptive-product.html')
        @@include('../../bem-blocks/adaptive-product/_adaptive-product.html')
        @@include('../../bem-blocks/adaptive-product/_adaptive-product.html')
        @@include('../../bem-blocks/adaptive-product/_adaptive-product.html')   
        
    </div>

</section>