<section class="interesting-row">
    
    <h3>Хиты продаж</h3>
    <a class="green-link" href="#">
        Смотреть все товары
        <img src="img/svg/arrow-link.svg" alt="arrow-link">
    </a>
    
    <div class="interesting-row__row">
        @@include('../../bem-blocks/product/_product.html')
        @@include('../../bem-blocks/product/_product.html')
        @@include('../../bem-blocks/product/_product.html')
        @@include('../../bem-blocks/product/_product.html')
    </div>
        
</section>