.products-row {
  display: flex;
  align-items: center;
  margin-top: 60px;
  padding: 0 0 0 40px;
}
.products-row__title {
  max-width: 230px;
  margin-left: 10px;
  margin-right: 20px;

  > h3 {
    margin-bottom: 7px;
    width: 175px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;

    color: #58575c;
  }

  > .short-link {
    display: none;
  }
}

.products-row__row {
  display: flex;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1280px) {
  .products-row {
    padding-left: 40px;
  }
}
@media (max-width: 1024px) {
  .products-row__title {
    padding-right: 12px;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .product {
    margin-left: 15px;
    nav-right: 15px;
  }

  .products-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;

    padding: 0 0 0 0;
  }

  .products-row__row {
    & > :nth-child(1) {
      margin-left: 36px;
    }
    & > :nth-last-child(1) {
      margin-right: 36px;
    }
  }

  .products-row__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: auto;
    max-width: none;
    flex-basis: 100%;
    margin-bottom: 36px;
    margin-right: 36px;
    margin-left: 36px;
    padding: 0;

    > h3 {
      width: auto;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 460px) {
  .products-row__title {
    margin-bottom: 46px;
    margin-right: 16px;
    margin-left: 16px;
  }
  .products-row__row {
    & > :nth-child(1) {
      margin-left: 16px;
    }
    & > :nth-last-child(1) {
      margin-right: 16px;
    }
  }
}
@media (max-width: 375px) {
  .products-row {
    margin-top: 70px;
  }
  .products-row__title {
    > h3 {
      font-size: 19px;
      line-height: 20px;
      width: 130px;
    }
    > span {
      font-size: 14px;
      line-height: 19px;
    }
    > .full-link {
      display: none;
    }
    > .short-link {
      display: block;
    }
  }
}
@media (max-width: 320px) {
  .products-row {
    margin-top: 50px;
  }
  .products-row__title {
    align-items: center;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    > h3 {
      font-size: 18px;
      line-height: 19px;
      width: 125px;
    }
    > span {
      font-size: 13px;
      line-height: 13px;
    }
  }
  .products-row__row {
    & > :nth-child(1) {
      margin-left: 10px;
    }
    & > :nth-last-child(1) {
      margin-right: 10px;
    }
  }
}
