<section class="products-row">
    <div class="products-row__title">
        <h3>Хиты продаж</h3>
        <a class="green-link full-link" href="#">
            Смотреть все товары
            <img src="img/svg/arrow-link.svg" alt="arrow-link">
        </a>
        <a class="green-link short-link" href="#">
            Смотреть все
            <img src="img/svg/arrow-link.svg" alt="arrow-link">
        </a>
    </div>
    <div class="products-row__row">
        @@include('../../bem-blocks/product/_product.html')
        @@include('../../bem-blocks/product/_product.html')
        @@include('../../bem-blocks/product/_product.html')
        @@include('../../bem-blocks/product/_product.html')
    </div>
        
</section>