<div class="news-list">
    @@include('../../bem-blocks/news-adaptive/_news-adaptive.html')
    @@include('../../bem-blocks/news-adaptive/_news-adaptive.html')
    @@include('../../bem-blocks/news-adaptive/_news-adaptive.html')
    @@include('../../bem-blocks/news-adaptive/_news-adaptive.html')
    @@include('../../bem-blocks/news-adaptive/_news-adaptive.html')
    @@include('../../bem-blocks/news-adaptive/_news-adaptive.html')
    @@include('../../bem-blocks/news-adaptive/_news-adaptive.html')
    @@include('../../bem-blocks/news-adaptive/_news-adaptive.html')
</div>