.sidebar-and-content {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

@media (max-width: 1024px) {
  .sidebar-and-content {
    padding: 0 40px;
  }
  .catalog-filters__container {
    display: none;
  }
}
@media (max-width: 768px) {
  .sidebar-and-content {
    padding: 0 36px;
  }
}

@media (max-width: 460px) {
  .sidebar-and-content {
    padding: 0 16px;
  }
}
