.breadcrumbs {
  > ol {
    > :nth-last-child(1) {
      opacity: 1;
    }
  }
}

.breadcrumbs__item {
  display: inline-flex;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #58575c;
  opacity: 0.5;
  a {
    color: inherit;
  }
  span {
    width: 3px;
    height: 3px;
    background-color: #58575c;
    border-radius: 50%;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 1px;
  }
}

@media (max-width: 768px) {
  .breadcrumbs__item {
    font-size: 14px;
    line-height: 20px;
  }
}
