.reset-filter-btn {
  display: block;
  margin-left: auto;
  padding-bottom: 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  color: #08a979;
}
