.reset-filter-btn {
  display: block;
  margin-left: auto;
  margin-top: -8px;
  max-height: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  color: #08a979;

  transition: ease-in-out 0.3s;

  &.active {
    max-height: 43px;
  }
}
