<div class="shops-search-and-map">
    <div class="shops-search-and-map__search">
        @@include('../input-search/_input-search.html')
        <div class="shops-search-and-map__search-items">
            <div class="shops-search-and-map__search-item">
                <h4><div class="shop-status"></div>Ленинградское ш., 34-й км., Солнечногорский р-н</h4>
                <p>Eжедневно, 8:00-22:00<br> 8 (495) 788-49-49 доб. 1771</p>
                <button class="green-button">Выбрать</button>
            </div>  
            <div class="shops-search-and-map__search-item">
                <h4><div class="shop-status"></div>Ленинградское ш., 34-й км., Солнечногорский р-н</h4>
                <p>Eжедневно, 8:00-22:00<br> 8 (495) 788-49-49 доб. 1771</p>
                <button class="green-button">Выбрать</button>
            </div>  
            <div class="shops-search-and-map__search-item">
                <h4><div class="shop-status"></div>Ленинградское ш., 34-й км., Солнечногорский р-н</h4>
                <p>Eжедневно, 8:00-22:00<br> 8 (495) 788-49-49 доб. 1771</p>
                <button class="green-button">Выбрать</button>
            </div>  
            <div class="shops-search-and-map__search-item">
                <h4><div class="shop-status"></div>Ленинградское ш., 34-й км., Солнечногорский р-н</h4>
                <p>Eжедневно, 8:00-22:00<br> 8 (495) 788-49-49 доб. 1771</p>
                <button class="green-button">Выбрать</button>
            </div>  
            <div class="shops-search-and-map__search-item">
                <h4><div class="shop-status"></div>Ленинградское ш., 34-й км., Солнечногорский р-н</h4>
                <p>Eжедневно, 8:00-22:00<br> 8 (495) 788-49-49 доб. 1771</p>
                <button class="green-button">Выбрать</button>
            </div>  
        </div>
        
    </div>
    <div class="shops-search-and-map__map"></div>
</div>