.order {
  padding-bottom: 50px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 50px;
}
.order__wraper {
  display: flex;
}
.order__number {
  margin-bottom: 34px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 12px;

  color: #000000;
}
.order__head {
  min-width: 260px;
  margin-right: 40px;
  > :nth-child(1) {
    display: flex;
    > div {
      margin-left: 24px;
      max-width: 164px;
    }

    img {
      width: 70px;
      height: 70px;
      border: #c4c4c4 solid 1px;
    }
    .order__title {
      margin-bottom: 6px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;

      color: #08a979;
    }
    .order__payment {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;

      color: #252525;
    }
  }
  .order__review {
    margin-top: 30px;
    > a {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;

      color: #08a979;
    }
  }
}
.order__body {
  max-width: 495px;
  margin-left: auto;
  .order__body-title {
    margin-top: 40px;
    margin-bottom: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: #58575c;
  }
  .characteristics-row {
    margin-bottom: 14px;
    > h3 {
      max-width: 200px;
      min-width: 200px;
    }
  }
}
.order__btns {
  display: flex;
  margin-top: 40px;
  white-space: nowrap;
  button {
    border-radius: 2px;
    padding: 0 30px;
    height: 47px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .green-button {
    color: #fff;
  }
  > :nth-last-child(1) {
    background: #dae2e5;
    color: #58575c;
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .order__body-title {
    margin-top: 30px;

    font-size: 14px;
  }
  .order__wraper {
    flex-direction: column;
  }
  .order__head {
    display: flex;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
    > :nth-child(1) > div {
      max-width: 100%;
    }
    img {
      width: 100px !important;
      height: 100px !important;
    }
    .order__review {
      margin-top: 0;
      margin-left: auto;
    }
    .order__title {
      margin-bottom: 10px;
    }
  }
  .order__body {
    margin-left: 0;
    max-width: 100%;
  }
  .order__btns {
    display: block;
    > :nth-child(1) {
      width: 100%;
    }
    > :nth-child(2) {
      margin-top: 16px;
      margin-left: 0;
      width: 100%;
    }
  }
}
@media (max-width: 460px) {
  .order__head {
    flex-wrap: wrap;
    margin-bottom: 0;

    .order__payment,
    .order__title {
      font-size: 14px !important;
    }

    img {
      width: 80px !important;
      height: 80px !important;
    }
  }
  .order__review {
    margin-top: 30px !important;
    margin-bottom: 35px;
    margin-right: auto;
    margin-left: auto;
  }
  .order__body-title {
    margin-bottom: 18px;

    line-height: 18px;
  }
}
