<div class="order">
    <div class="order__number">Заказ № 39991646</div>
    <div class="order__wraper">
        <div class="order__head">
            <div>
                <img src="/img/product.webp" alt="product pic">
                <div>
                    <h4 class="order__title">Антисептик RAVENOL 4014835737617</h4>
                    <div class="order__payment">6 000 ₽</div>
                </div>
            </div>

            <div class="order__review">
                <a href="#">Написать отзыв</a>
                <a href="#" style="display: none;">Изменить отзыв</a>
            </div>
            
        </div>
        <div class="order__body">
            @@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Дата оформления", "description":"16 марта, 23:44"})
            <div class="order__body-title">Способ оплаты</div>
            @@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Картой при получении", "description":"1 419 ₽"})
            <div class="order__body-title">Способ получения</div>
            @@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Адрес доставки", "description":"Санкт-Петербург, проспект Просвещения, д. 20, 93, 3 подъезд, 8 этаж, домофон 93"})
            @@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Получатель", "description":"Назаретян Елена, тел. +7 921 644-38-50"})
            @@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Дата доставки", "description":"в пятницу, 19 марта с 14:00 до 23:59"})
            @@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Комментарий", "description":"Позвоните за час"})
            @@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Стоимость доставки", "description":"бесплатно"})
            <div class="order__btns">
                <button class="green-button">Повторить заказ</button>
                <button>Вернуть товар</button>
            </div>
        </div>
        
    </div>

</div>