.certificate-row {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #08a979;
  &:active {
    color: #08a979;
  }
  img {
    margin-right: 16px;
  }
}
