<div class="catalog">
    <div class="catalog__items">
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
    </div>
    
</div>