<div class="catalog">
    <button class="catalog__back-button" onclick="catalogBack()">
        <img src="img/svg/arrow-right.svg" alt="arow-left">
        Назад
    </button>
    <h2>Каталог</h2>
    <div class="catalog__items-mobile">
        <a href="#">Все товары</a>
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        <script>
            document.addEventListener("DOMContentLoaded", function(event) { 
                markAllFlyoutCatalogs()
            });
        </script>
    </div>
    <div class="catalog__items">
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
        @@include('../catalog__item/_catalog__item.html')
    </div>
    
</div>