.green-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #08a979;
  cursor: pointer;
  border-radius: 2px;
  > img {
    padding-top: 1px;
    height: 18px;
  }
  &:disabled {
    background: #f2f2f2;
    color: rgba(88, 87, 92, 0.5);
  }
}
