<div class="filter-size">

    <div class="checkbox">
        <input type="checkbox" id="checkbox-size" />
        <label for="checkbox-size">
            0 – 0.25 л 
            <span>34</span>
        </label>
    </div>

    <div class="checkbox">
        <input type="checkbox" id="checkbox-size-1" />
        <label for="checkbox-size-1">
            0.25 – 0.5 л 
            <span>14</span>
        </label>
    </div>

    <div class="checkbox">
        <input type="checkbox" id="checkbox-size-2" />
        <label for="checkbox-size-2">
            0.5 – 0.75 л 
            <span>11</span>
        </label>
    </div>

    <div class="checkbox">
        
        <input type="checkbox" id="checkbox-size-3" />

        <label for="checkbox-size-3">
            0.75 – 2 л 
            <span>4</span>
        </label>
        
    </div>

    @@include('../reset-filter-btn/_reset-filter-btn.html')

</div>
