.delivery-address__btn {
  width: 100%;
  height: 45px;
  margin-top: 50px;

  border: 1px solid #08a979;
  box-sizing: border-box;
  border-radius: 2px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  text-align: center;

  color: #08a979;
}

.btn-delivery-address__popup {
  display: none;
  overflow: auto;
}
.btn-delivery-address__popup-active {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color: #6b6b6b, $alpha: 0.4);
  z-index: 15;
}
.btn-delivery-address__content {
  margin: auto;
  padding: 30px 20px 20px 20px;
  max-width: 962px;
  width: 100%;
  background: #fff;

  > .green-button {
    width: 100%;
    height: 47px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

.btn-delivery-address__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 27px;

  > h3 {
    margin-bottom: 7px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #58575c;
  }
  > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #58575c;
  }
  > button {
    line-height: 0;
    > img {
      transform: rotate(45deg);
    }
  }
}
.btn-delivery-address-form {
  > :nth-child(n + 1) {
    margin-bottom: 14px;
  }
  > :nth-last-child(1) {
    margin-bottom: 0;
  }
}
.z0 {
  z-index: 0 !important;
}
