<div class="news">
    <a href="#" class="news__image">
        <img src="img/product-hd.webp" alt="news">
    </a>
    <div class="news__middle">
        <a href="#"><h4 class="news__title">Какое средство подойдет для бережной стирки?</h4></a>
        <p>Провели исследование между порошком и гелем для...</p>
    </div>
    <div class="news__bottom">
        <a class="green-link full-link" href="#">
            Читать
            <img src="img/svg/arrow-link.svg" alt="arrow-link">
        </a>
    </div>
</div>