.news {
  display: flex;
  flex-direction: column;
  width: 232px;
  min-width: 232px;
  height: 321px;
  padding: 13px 15px 14px;

  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 2px;

  // Отступы для теней
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s ease;

  &:hover {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0px 9px 15px rgba(224, 228, 229, 0.62);
    border-radius: 2px;
    transition: 0.3s ease;
  }
}

.news__image {
  > img {
    width: 100%;
    max-height: 137px;
    object-fit: cover;
  }
}

.news__middle {
  h4 {
    margin-top: 34px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #252525;
  }
  > p {
    margin-top: 11px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #58575c;
  }
}

.news__bottom {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

@media (max-width: 768px) {
  .news {
    width: 212px;
    min-width: 212px;
    height: 345px;
    padding: 10px 13px 11px;
  }

  .news__middle {
    h4 {
      font-size: 15px;
    }
    p {
      font-size: 13px;
    }
  }
}

@media (max-width: 460px) {
  .news {
    width: 344px;
    min-width: 344px;
    height: 273px;
    padding: 7px 10px 7px;
  }

  .news__image {
    > img {
      max-height: 130px;
    }
  }

  .news__middle {
    padding: 0 11px 12px;
    h4 {
      margin-top: 28px;
      font-size: 15px;
      line-height: 17px;
    }
    p {
      font-size: 12px;
    }
  }

  .news__bottom {
    display: none;
  }
}

@media (max-width: 320px) {
  .news {
    width: 300px;
    min-width: 300px;
    height: 238px;
    padding: 10px 8px 8px;
  }

  .news__image {
    > img {
      max-height: 113px;
    }
  }

  .news__middle {
    h4 {
      margin-top: 18px;
      font-size: 14px;
      line-height: 15px;
    }
    p {
      margin-top: 9px;
      font-size: 11px;
      line-height: 13px;
    }
  }
}
