<ul class="stock-ul">
    <li>Совершите покупку товаров «Synergetic» с Картой Клуба в супермаркете или оформите заказ в экспресс-доставке или через самовывоз</li>
    <li>Совершите покупку товаров «Synergetic» с Картой Клуба в супермаркете или оформите заказ в экспресс-доставке или через самовывоз</li>
    <li>Совершите покупку товаров «Synergetic» с Картой Клуба в супермаркете или оформите заказ в экспресс-доставке или через самовывоз</li>
    <li>Совершите покупку товаров «Synergetic» с Картой Клуба в супермаркете или оформите заказ в экспресс-доставке или через самовывоз</li>
</ul>
    