<div class="quantity buttons_added">
    <button class="minus">
        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 1H12" stroke="#58575C"/>
        </svg>
    </button>
    <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
    <button class="plus">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6H12" stroke="#58575C"/>
            <path d="M6 0L6 12" stroke="#58575C"/>
        </svg>
    </button>
</div>
