.select-gender {
  > p {
    display: block;
    margin-bottom: 6px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #58575c;

    opacity: 0.6;
  }
}
.select {
  display: flex;
  align-items: center;

  width: 100%;
  height: 45px;
  position: relative;
  border: 1px solid rgba(88, 87, 92, 0.3);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: #000000;
}

.new-select {
  vertical-align: middle;
  width: 100%;
  padding: 16px 20px 15px;
  padding-left: 20px;
  cursor: pointer;
  user-select: none;
}

.new-select__list {
  position: absolute;
  top: 43px;
  left: 0;
  border: 1px solid rgba(88, 87, 92, 0.3);
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none;
}

.new-select__list.on {
  display: block;
}
.new-select__list {
  > :nth-last-child(1) {
    border-bottom: none;
  }
}
.new-select__item {
  border-bottom: 1px solid rgba(88, 87, 92, 0.3);
}
.new-select__item p {
  display: block;
  padding: 16px 20px 15px;
}

.new-select__item p:hover {
  background: #c1eadd;
}

.new-select:after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 12px;
  top: 9px;
  background: url("/img/svg/select-arrow.svg") 0 0 / 60% no-repeat;
  background-position: 50% 50%;
  opacity: 0.6;

  -webkit-transition: all 0.27s ease-in-out;
  -o-transition: all 0.27s ease-in-out;
  transition: all 0.27s ease-in-out;

  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.new-select.on:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
