.breadcrumbs-section {
  margin: 65px 40px 40px;
}

@media (max-width: 1024px) {
  .breadcrumbs-section {
    margin: 50px 36px 40px;
  }
}
@media (max-width: 768px) {
  .breadcrumbs-section {
    margin: 40px 36px 35px;
  }
}
@media (max-width: 460px) {
  .breadcrumbs-section {
    margin: 25px 16px 38px;
  }
}
@media (max-width: 320px) {
  .breadcrumbs-section {
    margin: 20px 10px 20px;
  }
}
