<div class="flyout">
  <a class="flyout__link" href="#">
    <span>Антисептики</span>
    <img src="img/svg/arrow-right.svg" alt="arrow">
  </a>

  <ul id="flyout__content" class="flyout__content">
    <li><a class="flyout__link" href="#">Для рук</a></li>
    <li><a class="flyout__link" href="#">Канистры</a></li>
    <li><a class="flyout__link" href="#">Для рук</a></li>
    <li><a class="flyout__link" href="#">Канистры</a></li>
    <li><a class="flyout__link" href="#">Для рук</a></li>
    <li><a class="flyout__link" href="#">Канистры</a></li>
  </ul>
</div>