<div id="catalog-popup" class="catalog-popup">
    <button class="catalog-popup__back-button" onclick="catalogBack()">
        <img src="img/svg/arrow-right.svg" alt="arow-left">
        Назад
    </button>
    <h2>Каталог</h2>
    <div class="catalog-popup__items-mobile">
        <a href="#">Все товары</a>
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')
        @@include('../../bem-blocks/flyout-catalog/_flyout-catalog.html')

        <script>
            document.addEventListener("DOMContentLoaded", function(event) { 
                markAllFlyoutCatalogs()
            });
        </script>
    </div>
</div>