<div class="product-pic-slider">
    <div class="slider-nav__container">
        <div class="slider-nav__prev"></div>
        <div class="slider slider-nav">
            <div class="product-pic-slider__item"><img src="./img/product-hd.webp" alt=""></div>
            <div class="product-pic-slider__item"><img src="./img/product-hd.webp" alt=""></div>
            <div class="product-pic-slider__item"><img src="./img/product-hd.webp" alt=""></div>
            <div class="product-pic-slider__item"><img src="./img/product-hd.webp" alt=""></div>
        </div>
        <div class="slider-nav__next"></div>
    </div>

    <div class="slider slider-single">
        <div class="product-pic-slider__item"><a data-fslightbox="gallery" href="./img/product-hd.webp"><img src="./img/product-hd.webp" alt=""></a></div>
        <div class="product-pic-slider__item"><a data-fslightbox="gallery" href="./img/product-hd.webp"><img src="./img/product-hd.webp" alt=""></a></div>
        <div class="product-pic-slider__item"><a data-fslightbox="gallery" href="./img/product-hd.webp"><img src="./img/product-hd.webp" alt=""></a></div>
        <div class="product-pic-slider__item"><a data-fslightbox="gallery" href="./img/product-hd.webp"><img src="./img/product-hd.webp" alt=""></a></div>
    </div>
    
</div>