<div class="catalog-filters__container">

    @@include('../reset-all-filter-btn/_reset-all-filter-btn.html')

    <button class="catalog-filters">
        <span>Тип товара</span>
        <img src="./img/svg/arrow-down.svg" alt="arrow-down">
    </button>
    <div class="catalog-filters__panel">
        @@include('../filter-types/_filter-types.html')
    </div>

    <button class="catalog-filters">
        <span>Цена</span>
        <img src="./img/svg/arrow-down.svg" alt="arrow-down">
    </button>
    <div class="catalog-filters__panel">
        @@include('../filter-price/_filter-price.html')
    </div>

    <button class="catalog-filters">
        <span>Бренд</span>
        <img src="./img/svg/arrow-down.svg" alt="arrow-down">
    </button>
    <div class="catalog-filters__panel">
        @@include('../filter-brand/_filter-brand.html')
    </div>

    <button class="catalog-filters">
        <span>Вес товара</span>
        <img src="./img/svg/arrow-down.svg" alt="arrow-down">
    </button>
    <div class="catalog-filters__panel">

    </div>

    <button class="catalog-filters">
        <span>Объём</span>
        <img src="./img/svg/arrow-down.svg" alt="arrow-down">
    </button>
    <div class="catalog-filters__panel">
        @@include('../filter-size/_filter-size.html')
    </div>

    @@include('../filter-popularity/_filter-popularity.html')

</div>
