<div class="product-tabs">

	<div class="product-tabs__item">
        <span class="active">Характеристики</span>
		<div class="product-tabs__content">
			<h1>Характеристики</h1>
			
        </div>
	</div>
	
	<div class="product-tabs__item">
		<span>Описание</span>
		<div class="product-tabs__content">
			<h1>Описание</h1>
			
		</div>
	</div>
	
	<div class="product-tabs__item">
		<span>Преимущества</span>
		<div class="product-tabs__content">
			<h2>Преимущества</h2>
		</div>
	</div>
	
	<div class="product-tabs__item">
		<span>Отзывы: 8</span>
		<div class="product-tabs__content">
			<h2>Отзывы: 8</h2>
		</div>
	</div>
	
	<div class="product-tabs__item">
		<span>Сертификаты</span>
		<div class="product-tabs__content">
			<h2>Сертификаты</h2>
		</div>
	</div>
	
</div>
