<section class="news-row">
    <div class="news-row__title">
        <h3>Новости</h3>
        <a class="green-link full-link" href="#">
            Смотреть все
            <img src="img/svg/arrow-link.svg" alt="arrow-link">
        </a>
    </div>
    <div class="news-row__row">
        @@include('../../bem-blocks/news/_news.html')
        @@include('../../bem-blocks/news/_news.html')
        @@include('../../bem-blocks/news/_news.html')
        @@include('../../bem-blocks/news/_news.html')
    </div>
        
</section>