<div class="profile-tabs">

	<div class="profile-tabs__item">
        <span class="active">Профиль</span>
		<div class="profile-tabs__content">
			@@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Имя", "description":"Елена"})
			@@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Фамилия", "description":"Назаретян"})
			@@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Дата рождения", "description":"30.11.1993"})
			@@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Телефон", "description":"+7 921 644-38-50"})
			@@include('../../bem-blocks/characteristics-row/_characteristics-row.html', {"title":"Email", "description":"lena_naz93@mail.ru"})
			@@include('../../bem-blocks/btn-password-change/_btn-password-change.html')
			@@include('../../bem-blocks/btn-profile-edit/_btn-profile-edit.html')

        </div>
	</div>
	
	<div class="profile-tabs__item">
		<span>Заказы</span>
		<div class="profile-tabs__content">
			
			
		</div>
	</div>
	
	<div class="profile-tabs__item">
		<span>Подписки</span>
		<div class="profile-tabs__content">
			
		</div>
	</div>
	
	<div class="profile-tabs__item">
		<span>Скидки</span>
		<div class="profile-tabs__content">
			
			
		</div>
	</div>
	
	<script>



		document.addEventListener("DOMContentLoaded", function(event) { 
			function tabsInAccord() {
				var w = window.innerWidth ? window.innerWidth : $(window).width(), //ширина экрана
						widthVal = 300, //ширина, меньше которой табы становятся аккордионами
						speed = 250, //скорость раскрытия аккордионов
						tab = $('.profile-tabs__item > span.active'); //отдельная вкладка

				if (w < 300 ) {
					$('.profile-tabs__item > span').removeClass('active')
				
				}
				//Высчитываем высоту контейнера
					function calcHeight() {
						var tabHeight = 0;
						$('.profile-tabs__item > span.active').next('.profile-tabs__content').each(function(){
							if ($(this).innerHeight() > tabHeight ) {
								 tabHeight = $(this).innerHeight()
							 }
						});
						$('.profile-tabs').height(tabHeight);
					}
				
				function tabsSwitch() {
					$('.profile-tabs__item').off().on('click', 'span', function() {
						$(this).closest('.profile-tabs').find($('.profile-tabs__item')).find('.profile-tabs__content').removeAttr("style");
						$(this).addClass('active').next('.profile-tabs__content').show().closest('.profile-tabs').find($('.profile-tabs__item > span.active').not($(this))).removeClass('active');
						calcHeight();
					});
				}

				function accordOpen() {
					$('.profile-tabs').removeAttr("style");
					$('.profile-tabs__item').off().on('click', 'span', function() {
							$(this).toggleClass('active').next('.profile-tabs__content').slideToggle(speed);
						});
				}

				if (w < widthVal) {
					if(tab.length > 0) {
						tab.closest('.profile-tabs').find($('.profile-tabs__item > span').not(tab).next('.profile-tabs__content')).css({'display':'none'});
						tab.next('.profile-tabs__content').slideDown(speed);
					}
					accordOpen();
				} else {
					if(tab.length === 0 || tab.length > 1) {
						tab.removeClass('active').next('.profile-tabs__content').css({'display':'block'});
							$('.profile-tabs__item:first > span').addClass('active');
						} else {
							$('.profile-tabs').find('.profile-tabs__content').css({'display':'block'});
						}
						calcHeight();
						tabsSwitch();	
					}
					if (w < 700 ) {
						$('.profile-tabs__content').css({'display':'none'})
					}
			}

			tabsInAccord();

			$(window).resize(function () {
				$('.profile-tabs__item').removeClass('active')
				tabsInAccord();

			});
		});

	</script>
</div>
