<div class="checkout-basket">
    <div class="checkout-basket__top">
        <img src="img/svg/car.svg" alt="car">
        <h4>Доставка с 25 июля</h4>
    </div>
    <div class="checkout-basket__price">
        <p>2 товара</p>
        <p>12 000 ₽</p>
    </div>
    <div class="checkout-basket__discount">
        <p>Скидка</p>
        <p>– 6 000 ₽</p>
    </div>
    <div class="checkout-basket__checkout">
        <p>К оплате</p>
        <p>6 000 ₽</p>
    </div>
    <button class="green-button">Оформить заказ</button>
</div>