<nav class="pagination">

    <a class="pagination_btn previous" href="#">Назад</a>

    <ul class="pagination_items">

        <li class="pagination_item active">
            <a href="#">1</a>
        </li>
        
        <li class="pagination_item">
            <a href="#">2</a>
        </li>
        
        <li class="pagination_item">
            <a href="#">3</a>
        </li>
        
        <li class="pagination_item">
            <a href="#">4</a>
        </li>
        
        <li class="pagination_item">
            <a href="#">5</a>
        </li>
        
        <li class="pagination_item dots">
            <a>...</a>
        </li>
        
        <li class="pagination_item">
            <a href="#">145</a>
        </li>

    </ul>
    
    <a class="pagination_btn next" href="#">Дальше</a>

    <a class="pagination_btn all" href="#">Показать все товары</a>

</nav>
