<div class="profile-tab">
    <div class="profile-tab__item">
        @@include('../../bem-blocks/profile-row/_profile-row.html', {"title":"Имя", "description":"Елена"})
        @@include('../../bem-blocks/profile-row/_profile-row.html', {"title":"Фамилия", "description":"Назаретян"})
        @@include('../../bem-blocks/profile-row/_profile-row.html', {"title":"Дата рождения", "description":"30.11.1993"})
        @@include('../../bem-blocks/profile-row/_profile-row.html', {"title":"Телефон", "description":"+7 921 644-38-50"})
        @@include('../../bem-blocks/profile-row/_profile-row.html', {"title":"Email", "description":"lena_naz93@mail.ru"})
        @@include('../../bem-blocks/btn-profile-edit/_btn-profile-edit.html')
        @@include('../../bem-blocks/btn-password-change/_btn-password-change.html')
        
    </div>
    <div class="profile-tab__item">
        @@include('../../bem-blocks/delivery-address/_delivery-address.html')
    </div>
    <div class="profile-tab__item">
        @@include('../../bem-blocks/shop-address/_shop-address.html')
    </div>

</div>