.input-password {
  > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
}
.input-password__container {
  display: flex;
  align-items: center;
  height: 45px;

  border: 1px solid rgba(88, 87, 92, 0.3);
  box-sizing: border-box;
  border-radius: 2px;
  &[type="password"] {
    letter-spacing: 1.5px;
  }
  > input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    outline: none;
    background-color: transparent;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
  }
  > button {
    height: 100%;
    padding: 0 15px 0 7.5px;
  }
}
.input-password__title {
  display: block;
  margin-bottom: 6px;
  color: #58575c;
  opacity: 0.6;
}
.input-password__error {
  display: none;
  margin-top: 6px;
  margin-bottom: 4px;
  color: #fc3c3c;
}
