<div class="adaptive-product">
    <div class="adaptive-product__top">
        <div class="adaptive-product__label">
            <img src="img/svg/hit.svg" alt="hit">
        </div>
        <button class="adaptive-product__like"></button>
    </div>
    <a href="#" class="adaptive-product__image">
        <img src="img/product.webp" alt="product">
    </a>
    <div class="adaptive-product__middle">
        <span class="adaptive-product__code">Арт. 8383</span>
        <a href="#"><h4 class="adaptive-product__title">Гель-антисептик для рук Manufactor 10 л</h4></a>
        <div class="adaptive-product__size">
            <a href="#" class="adaptive-product__size-item"><span>3</span></a>
            <a href="#" class="adaptive-product__size-item"><span>5</span></a>
            <a href="#" class="adaptive-product__size-item active"><span>10</span></a>
        </div>
    </div>
    <div class="adaptive-product__bottom">
        <div>
            <div class="adaptive-product__cost-strike">6 000 ₽</div>
             <div class="adaptive-product__cost">3 000 ₽</div>
        </div>
        <div class="adaptive-product__discount"><span>–50%</span></div>
        <button class="adaptive-product__button-basket"></button>
    </div>
</div>