.navigation {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

// < Dropdown >

.catalog-dropdown__icon {
  width: 12px;
  transform: rotate(180deg);
  transition: ease 0.3s;
}

.catalog-dropdown__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  background: #08a979;
  border-radius: 2px;
  color: white;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 260px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.catalog-dropdown__content {
  display: none;
  position: absolute;
  margin-top: 4px;
  width: 260px;
  padding: 8px 0;
  z-index: 3;

  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px 9px 15px -4px rgba(224, 228, 229, 0.62);
  border-radius: 2px;

  > a {
    display: block;
    padding: 8px 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #58575c;
    &:hover {
      color: $accent;
    }
  }
}
.navigation__dropdown {
  position: relative;
  display: inline-block;
}

._show {
  display: block !important;
}

._show-ico {
  transform: rotate(0deg);
}

// < Search >
.navigation__search-container {
  width: 100%;
  margin-left: 35px;
  position: relative;
}

.navigation__search {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  border: 1px solid $accent;
  border-radius: 2px;
  box-sizing: border-box;

  > button {
    min-width: 39px;
    height: 39px;
    margin: 3px;
  }
  > input {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    background-color: transparent;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #58575c;
    outline: none;
    &::placeholder {
      opacity: 0.6;
    }
  }
}

.navigation__link {
  margin-left: 36px;
}

@media (max-width: 1023px) {
  .navigation__link {
    display: none;
  }
}

@media (max-width: 768px) {
  .navigation {
    padding: 0 36px;
  }
  .catalog-dropdown__btn {
    min-width: 244px;
  }
  .catalog-dropdown__content {
    width: 244px;
  }
}

@media (max-width: 460px) {
  .navigation {
    display: none;
  }
}
