<div class="basket-product">
    <div class="basket-product__one">
        <a href="#" class="basket-product__image">
            <img src="img/product.webp" alt="product">
        </a>
        <div class="basket-product__middle">
            <span class="basket-product__code">Арт. 8383</span>
            <div class="basket-product__cost-2">
                <div>
                    <div class="basket-product__cost-strike">6 000 ₽</div>
                     <div class="basket-product__cost">3 000 ₽</div>
                </div>
            </div>
            <a href="#"><h4 class="basket-product__title">Гель-антисептик для рук Manufactor 10 л</h4></a>
            <div class="basket-product__size">
                <a href="#" class="basket-product__size-item"><span>3</span></a>
                <a href="#" class="basket-product__size-item"><span>5</span></a>
                <a href="#" class="basket-product__size-item active"><span>10</span></a>
            </div>
        </div>
    </div>
    
    <div class="basket-product__quantity">
        @@include('../quantity/_quantity.html')
    </div>
    <div class="basket-product__bottom">
        <div>
            <div class="basket-product__cost-strike">6 000 ₽</div>
             <div class="basket-product__cost">3 000 ₽</div>
        </div>
        <div class="basket-product__discount"><span>–50%</span></div>

    </div>
    <button class="basket-product__back" style="display: none;">Вернуть в корзину</button>
    <div class="basket-product__top">
        <button class="basket-product__delete"></button>
        <button class="basket-product__like"></button>
    </div>
</div>