.basket-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 177px;

  background: #ffffff;
  box-sizing: border-box;
  border-radius: 2px;

  // Отступы для теней
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;

  > :nth-last-child(1) {
    margin-right: 0 !important;
  }
  > :nth-last-child(n + 1) {
    margin-right: 34px;
  }
}

.basket-product__back {
  padding: 6px 17px;
  background: #c1eadd;
  border-radius: 2px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;

  color: #08a979;
}

.basket-product__one {
  display: flex;
}

.basket-product__cost-2 {
  display: none;

  align-content: center;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
}
.basket-product__top {
  display: flex;
  justify-content: space-between;
}

.basket-product__label {
  display: flex;
  height: 22px;
}

.basket-product__like {
  height: 22px;
  width: 22px;
  background: url(../img/svg/product-like.svg) 0 0/100% no-repeat;
  background-position: 50% 50%;
}
.basket-product__delete {
  margin-right: 22px;
  height: 21px;
  width: 17px;
  background: url(../img/svg/delete.svg) 0 0/100% no-repeat;
  background-position: 50% 50%;
}

.basket-product__image {
  display: flex;
  justify-content: center;
  margin-right: 10px;

  img {
    max-width: 154px;
    max-height: 154px;
  }
}

.basket-product__middle {
  margin-top: 18px;
  justify-self: left;
  .basket-product__title {
    margin-top: 14px;
    margin-bottom: 23px;
  }
  span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #58575c;

    opacity: 0.5;
  }
  > span {
    font-size: 16px;
  }
  h4 {
    max-width: 218px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    color: #58575c;
  }
}

.basket-product__size {
  display: flex;
  margin-top: 9px;
}

.basket-product__size-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  width: 18px;
  height: 18px;

  background: #f2f2f2;
  box-sizing: border-box;
  border-radius: 2px;

  &:hover {
    border: 1px solid #08a979;
    span {
      color: #252525;
      opacity: 1;
    }
  }
  &.active {
    border: 1px solid #08a979;
    cursor: default;
    span {
      color: #252525;
      opacity: 1;
      margin-right: 1.5px;
    }
  }
  span {
    letter-spacing: -0.04em;
    opacity: 0.4;
    margin-top: 1px;
  }
}

.basket-product__bottom {
  display: flex;

  align-content: center;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
}

.basket-product__cost-strike {
  white-space: nowrap;
  align-self: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  align-self: flex-end;

  text-decoration-line: line-through;

  color: #58575c;

  opacity: 0.5;
}
.basket-product__cost {
  white-space: nowrap;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #58575c;
}
.basket-product__discount {
  white-space: nowrap;
  align-self: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-top: 2px;
  margin-left: 12px;

  color: #08a979;

  border: 1px solid rgba(8, 169, 121, 0.2);
  box-sizing: border-box;
  border-radius: 12px;

  span {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 1px;
    line-height: 12px;
  }
}

@media (max-width: 1024px) {
  .basket-product {
    min-height: 190px;
    max-width: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .basket-product {
    min-height: 153px;
  }

  .basket-product__image {
    margin-top: 30px !important;
    img {
      max-width: 137px;
      max-height: 137px;
    }
  }

  .basket-product__middle {
    margin-top: 0;
    > span {
      font-size: 11px;
    }
    h4 {
      font-size: 14px;
    }
  }

  .basket-product__cost {
    font-size: 16px;
  }
}

@media (max-width: 766px) {
  .basket-product__code {
    display: none;
  }
  .basket-product {
    justify-content: space-between;
    min-height: 190px;
    margin-bottom: 0;
    border-bottom: 1px solid #e8e8e8;
  }

  .basket-product__label {
    height: 18px;
  }

  .basket-product__like {
    width: 19px;
    height: 18px;
  }

  .basket-product__image {
    margin-top: 1px;
    img {
      max-width: 118px;
      max-height: 118px;
    }
  }

  .basket-product__middle {
    > span {
      font-size: 11px;
    }
    h4 {
      font-size: 12px;
    }
  }

  .basket-product__cost {
    font-size: 14px;
  }

  .basket-product__discount {
    line-height: 14px;
    margin-left: 5px;
    margin-top: 3px;
  }

  .basket-product__button-basket {
    width: 26px;
    height: 26px;
  }

  .basket-product__bottom {
    display: none;
  }
  .basket-product__top {
    flex-direction: column;
    min-height: inherit;
    padding: 19px 0 29px;
  }
  .basket-product__delete {
    margin: 0;
  }
  .basket-product__quantity {
    margin-right: 0 !important;
  }
  .basket-product__cost-2 {
    display: flex;
    margin: 4px 0;
  }
  .basket-product__title {
    margin-top: 0 !important;
  }
  .basket-product__cost {
    font-size: 14px;
    line-height: 17px;
  }
  .basket-product__cost-strike {
    font-size: 12px;
    line-height: 24px;
  }
  .basket-product__middle {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}

@media (max-width: 460px) {
  .quantity {
    height: 26px !important;
    input {
      width: 24px !important;
      font-size: 14px !important;
      line-height: 20px !important;
    }
    .plus {
      padding: 0 8px !important;
      svg {
        width: 10px !important;
      }
    }
    .minus {
      padding: 0 8px !important;
      svg {
        margin-bottom: 4px;
        width: 10px !important;
      }
    }
  }
}

@media (max-width: 420px) {
  .basket-product__one {
    margin-right: 0 !important;
  }
  .basket-product {
    min-height: 162px;
    padding: 10px 8px 8px;
  }

  .basket-product__label {
    height: 14px;
  }
  .basket-product__image {
    margin-right: 10px !important;
    img {
      max-width: 90px;
      max-height: 90px;
    }
  }

  .basket-product__middle {
    margin-right: 10px !important;
    > span {
      font-size: 9px;
    }
    h4 {
      font-size: 9px;
      line-height: 11px;
    }
  }

  .basket-product__size {
    margin-top: 4px;
  }
  .basket-product__size-item {
    width: 14px;
    height: 14px;
    span {
      font-size: 9px;
      line-height: 9px;
      margin: 0;
    }
  }

  .basket-product__cost {
    font-size: 12px;
  }
  .basket-product__cost-strike {
    font-size: 9px;
    line-height: 9px;
  }
  .basket-product__discount {
    font-size: 9px;
    line-height: 9px;
    margin-left: 5px;
    margin-top: -2px;

    span {
      line-height: 12px;
      margin: 0 4px;
    }
  }
  .basket-product__button-basket {
    width: 20px;
    height: 20px;
  }
  .quantity {
    height: 26px !important;
    input {
      width: 20px !important;
      font-size: 12px !important;
      line-height: 20px !important;
    }
  }
}
.basket-product__back-mobile,
.basket-product__back {
  display: none;
}
.basket-product.removed {
  .basket-product__quantity {
    display: none;
  }
  .basket-product__bottom {
    display: none;
  }
  .basket-product__back {
    display: block;
  }
  .basket-product__delete {
    display: none;
  }
  .basket-product__top {
    justify-content: flex-end;
  }
}

.basket-product__back-mobile {
  margin-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 35px;

  color: #08a979;
}
@media (max-width: 768px) {
  .basket-product.removed {
    .basket-product__back {
      display: none;
    }
    .basket-product__back-mobile {
      display: block;
    }
    .basket-product__size {
      display: none;
    }
  }
}
