<div class="filter">
    @@include("../filter-search-input/_filter-search-input.html")

    <div class="filter__items">
            <div class="checkbox">
            <input type="checkbox" id="checkbox-brand" />
            <label for="checkbox-brand">
                Бренд
                <span>1</span>
            </label>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="checkbox-ne-brand" />
            <label for="checkbox-ne-brand">
                Не бренд
                <span>8</span>
            </label>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="checkbox-brand-1" />
            <label for="checkbox-brand-1">
                Бренд
                <span>0</span>
            </label>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="checkbox-ne-brand-1" />
            <label for="checkbox-ne-brand-1">
                Не бренд
                <span>4</span>
            </label>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="checkbox-brand-2" />
            <label for="checkbox-brand-2">
                Бренд
                <span>3</span>
            </label>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="checkbox-ne-brand-2" />
            <label for="checkbox-ne-brand-2">
                Не бренд
                <span>9</span>
            </label>
        </div>
    </div>

    @@include('../reset-filter-btn/_reset-filter-btn.html')

</div>
