<div class="password-change">
    <button id="password-change__btn" class="password-change__btn" onclick="passwordChangeBtn()"><img src="./img/svg/lock.svg" alt="lock"> Сменить пароль</button>
    <div id="password-change__popup" class="password-change__popup">
        <div class="password-change__content">
            <div class="password-change__header">
               <h3>Смена пароля</h3>
               <button onclick="passwordChangeCloseBtn()"><img src="./img/svg/close2.svg" alt="close"></button>
            </div>
            <form class="password-change-form">
                @@include('../input-password/_input-password.html', {"button":"none", "title":"Ваш пароль", "autocomplete":"current-password", "error":"Пароль неверный."})
                @@include('../input-password/_input-password.html', {"button":"block", "title":"Новый пароль", "autocomplete":"new-password", "error":"Это значение должно содержать от 6 до 20 символов."})
                @@include('../input-password/_input-password.html', {"button":"block", "title":"Повторите пароль", "autocomplete":"new-password", "error":"Это значение должно совпадать."})
                
            </form>
            <button class="green-button" disabled>Изменить</button>
        </div>
    </div>
</div>

