.password-change__btn {
  display: flex;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #58575c;
  > img {
    margin-right: 13px;
  }
}

.password-change__popup {
  display: none;
}
.password-change__popup-active {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color: #6b6b6b, $alpha: 0.1);
  z-index: 15;
}

.password-change__content {
  margin: auto;
  padding: 30px 20px 36px;
  width: 100%;
  max-width: 436px;
  background: #fff;
}

.password-change__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  > h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #58575c;
  }
  > button {
    line-height: 0;
    > img {
      transform: rotate(45deg);
    }
  }
}
