.breadcrumbs-and-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 46px 0;
}

@media (max-width: 1024px) {
  .breadcrumbs-and-filter {
    padding: 0 40px;
    margin: 36px 0;
  }
}

@media (max-width: 768px) {
  .breadcrumbs-and-filter {
    padding: 0 36px;
    margin: 46px 0;
  }
}

@media (max-width: 460px) {
  .breadcrumbs-and-filter {
    display: block;
    padding: 0 16px;
    margin: 60px 0 40px;
  }
}
@media (max-width: 320px) {
  .breadcrumbs-and-filter {
    padding: 0 10px;
  }
}
