.cookies {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 605px;
  width: 100%;
  z-index: 1;
}
.cookies__wrapper {
  display: flex;
  align-items: center;
  padding: 15px 20px;

  background: #fff;
  border: 1px solid #08a979;
  box-sizing: border-box;
  box-shadow: 0px 9px 15px -4px rgba(224, 228, 229, 0.62);
  border-radius: 2px;

  div {
    display: flex;
  }
  img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
  }
  p {
    margin-right: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #58575c;
  }
  button {
    margin-left: auto;
    height: 39px;
    padding: 0 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;

    color: #ffffff;
  }
}
@media (max-width: 1280px) {
  .cookies {
    position: fixed;
    bottom: 10px;
    left: calc(100% - 40px);
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  .cookies {
    left: 0;
    max-width: 100%;
    transform: none;
    padding: 0 36px;
  }
  .cookies__wrapper {
    margin-bottom: 15px;
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
@media (max-width: 460px) {
  .cookies {
    bottom: 87px;
    padding: 0 16px;
  }
  .cookies__wrapper {
    align-items: flex-start;
    div {
      flex-wrap: wrap;
    }
    img {
      width: 78px;
      height: 78px;
      margin-right: 10px;
    }
    p {
      margin-right: 0;
    }
    button {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
@media (max-width: 375px) {
  .cookies {
    bottom: 59px;
  }
  .cookies__wrapper {
    align-items: flex-start;
    div {
      flex-wrap: wrap;
    }
    img {
      width: 65px;
      height: 65px;
      margin-right: 15px;
    }
    p {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
@media (max-width: 320px) {
  .cookies {
    padding: 0 10px;
  }
  .cookies__wrapper {
    padding: 14px;
    img {
      width: 65px;
      height: 65px;
      margin-right: 15px;
    }
    p {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
