<div class="sub">
    <div class="sub__top">
        <div class="sub__label">
            <img src="img/svg/hit.svg" alt="hit">
        </div>
        <button class="sub__like"></button>
    </div>
    <a href="#" class="sub__image">
        <img src="img/product.webp" alt="sub">
    </a>
    <div class="sub__middle">
        <span class="sub__code">Арт. 8383 | Нет в наличии</span>
        <a href="#"><h4 class="sub__title">Гель-антисептик для рук Manufactor 10 л</h4></a>
        <div class="sub__size">
            <a href="#" class="sub__size-item"><span>3</span></a>
            <a href="#" class="sub__size-item"><span>5</span></a>
            <a href="#" class="sub__size-item active"><span>10</span></a>
        </div>
    </div>
    <div class="sub__bottom">
        <button class="sub__subscribe-btn" style="display: none;">Подписаться</button>
        <button class="sub__unsubscribe-btn">Отписаться</button>
    </div>
</div>