<div id="navigation__search-content" class="navigation__search-content">
    <div class="navigation__search-content-items">
        @@include('../bem-blocks/_search-content-item.html')
        @@include('../bem-blocks/_search-content-item.html')
        @@include('../bem-blocks/_search-content-item.html')
        @@include('../bem-blocks/_search-content-item.html')
        @@include('../bem-blocks/_search-content-item.html')
        @@include('../bem-blocks/_search-content-item.html')
    </div>
    <div class="navigation__search-content-button">
        <a href="#">Показать 52 товара</a>
    </div>
</div>