<menu class="tapbar">
    <a href="" class="tapbar__item tapbar__item-home">
        <svg class="tapbar__icon"><use xlink:href="img/sprite.svg#home"></use></svg>
        <span class="tapbar__label">Главная</span>
    </a>
    <a href="#" class="tapbar__item tapbar__item-catalog">
        <svg class="tapbar__icon"><use xlink:href="img/sprite.svg#catalog"></use></svg>
        <span class="tapbar__label">Каталог</span>
    </a>
    <a href="#" class="tapbar__item tapbar__item-cart">
        <span class="tapbar__item-counter">0</span>
        <svg class="tapbar__icon"><use xlink:href="img/sprite.svg#cart"></use></svg>
        <span class="tapbar__label">Корзина</span>
    </a>
    <a href="#" class="tapbar__item tapbar__item-man">
        <svg class="tapbar__icon"><use xlink:href="img/sprite.svg#man"></use></svg>            
        <span class="tapbar__label">Вход</span>
    </a>
    <a href="#" class="tapbar__item tapbar__item-like">
        <svg class="tapbar__icon"><use xlink:href="img/sprite.svg#like"></use></svg>
        <span class="tapbar__label">Избранное</span>
    </a>
</menu>