<section class="similar-row">
    
    <div class="similar-row__title">
        <h3>@@title</h3>
    </div>
    
    
    <div class="similar-row__row">
        @@include('../../bem-blocks/adaptive-product/_adaptive-product.html')
        @@include('../../bem-blocks/adaptive-product/_adaptive-product.html')
        @@include('../../bem-blocks/adaptive-product/_adaptive-product.html')
        @@include('../../bem-blocks/adaptive-product/_adaptive-product.html')
        @@include('../../bem-blocks/adaptive-product/_adaptive-product.html')
        
    </div>
        
</section>