<div id="filter" class="filter">

    @@include('../filter-search-input/_filter-search-input.html')

    
    <div class="filter__items">
        <div class="checkbox-filter checkbox">
            <input type="checkbox" id="checkbox-gell" name="checkbox-gell" />
            <label for="checkbox-gell">
                Гель
                <span>8</span>
            </label>
        </div>

        <div class="checkbox-filter checkbox">
            <input type="checkbox" id="checkbox-spray" name="checkbox-spray" />
            <label for="checkbox-spray">
                Спрей
                <span>3</span>
            </label>
        </div>

        <div class="checkbox-filter checkbox">
            <input type="checkbox" id="checkbox-gell-1" name="checkbox-gell" disabled="disabled" />
            <label for="checkbox-gell-1">
                Гель
                <span>0</span>
            </label>
        </div>

        <div class="checkbox-filter checkbox">
            <input type="checkbox" id="checkbox-spray-1" name="checkbox-spray" />
            <label for="checkbox-spray-1">
                Спрей
                <span>3</span>
            </label>
        </div>

        <div class="checkbox-filter checkbox">
            <input type="checkbox" id="checkbox-gell-2" name="checkbox-gell" />
            <label for="checkbox-gell-2">
                Гель
                <span>8</span>
            </label>
        </div>

        <div class="checkbox-filter checkbox">
            <input type="checkbox" id="checkbox-spray-2" name="checkbox-spray"/>
            <label for="checkbox-spray-2">
                Спрей
                <span>3</span>
            </label>
        </div>
    </div>
    
        
    


    @@include('../reset-filter-btn/_reset-filter-btn.html')

</div>
