.input-date {
  > p {
    display: block;
    margin-bottom: 6px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #58575c;

    opacity: 0.6;
  }
}
.input-date__container {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(88, 87, 92, 0.3);
  box-sizing: border-box;
  border-radius: 2px;

  > input {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
  }
}
.input-date input::-webkit-calendar-picker-indicator {
  display: flex;
  align-items: center;

  width: 18px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  background-image: url("/img/svg/calendar.svg");
  background-position: center;
}
