<div class="reviews-tab">
    <div class="reviews-tab__head">
        <div class="reviews-tab__sort-by">
            <p class="reviews-tab__sort-title">Сортировать по:</p>
            <p class="reviews-tab__sort-item active inverted">Дате</p>
            <p class="reviews-tab__sort-item">Оценке</p>
        </div>
        
        <button class="new-reply">Написать отзыв</button>
    </div>
    <div class="review">
        <div>
            <div class="review__name">Андрей</div>
            <div class="review__rate">
                <img src="/img/svg/star-yellow.svg" alt="yellow star">
                <img src="/img/svg/star-yellow.svg" alt="yellow star">
                <img src="/img/svg/star-yellow.svg" alt="yellow star">
                <img src="/img/svg/star-yellow.svg" alt="yellow star">
                <img src="/img/svg/star-grey.svg" alt="grey star">
            </div>
        </div>
        <div class="review__text">Супер круто офигенно. Супер круто офигенно Супер круто офигенно. Супер круто офигенно Супер круто офигенно</div>
        <div class="review__date">06.10. 2021</div>
    </div>
    <div class="review">
        <div>
            <div class="review__name">Андрей</div>
            <div class="review__rate">
                <img src="/img/svg/star-yellow.svg" alt="yellow star">
                <img src="/img/svg/star-yellow.svg" alt="yellow star">
                <img src="/img/svg/star-yellow.svg" alt="yellow star">
                <img src="/img/svg/star-yellow.svg" alt="yellow star">
                <img src="/img/svg/star-grey.svg" alt="grey star">
            </div>
        </div>
        <div class="review__text">Супер круто офигенно. Супер круто офигенно Супер круто офигенно. Супер круто офигенно Супер круто офигенно</div>
        <div class="review__date">06.10. 2021</div>
    </div>
</div>