.flyout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #58575c;
  > img {
    width: 5px;
  }
}

.flyout-content {
  display: none;
  position: absolute;
  left: 100%;
  top: -1px;
  width: 100%;
  background-color: #f9f9f9;
  padding: 8px 0;

  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px 9px 15px rgba(224, 228, 229, 0.62);
  border-radius: 2px;

  z-index: 1;
  > a {
    display: block;
    padding: 8px 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #58575c;
    &:hover {
      color: $accent;
    }
  }
  > :nth-child(1) {
    font-weight: bold;
    color: $accent;
  }
}

.flyout:hover {
  > span {
    color: $accent;
  }
  > img {
    display: none;
  }
  .flyout-content {
    display: block;
  }
}
