.footer {
  background-color: #fcfcfc;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px 0;
  > :nth-child(n + 1) {
    margin-top: 40px;
  }
}

// < Footer Branding >

.footer__logo {
  height: 26px;
  margin-bottom: 52px;
}

.footer__phone {
  > a {
    display: block;
    margin-bottom: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #58575c;
  }
  > :nth-last-child(1) {
    margin-bottom: 0;
  }

  margin-bottom: 33px;
}

.footer__socials {
  > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #c4c4c4;
    margin-left: 10px;
    border-radius: 50%;
  }
  > :nth-child(1) {
    margin-left: 0;
  }
}
// < Footer Branding />

// < Footer  Links >
.footer__links {
  > h5 {
    margin-bottom: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #252525;
  }
  > a {
    display: block;
    margin-bottom: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #58575c;

    &:hover {
      color: $accent;
    }
  }
  > :nth-last-child(1) {
    margin-bottom: 0;
  }
}
// < Footer  Links />

// < Footer Newsletter >
.footer__newsletter {
  > h5 {
    margin-bottom: 24px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.02em;

    color: $accent;
  }
}

.footer__email {
  max-width: 363px;
  width: 363px;
  height: 47px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid $accent;
  border-radius: 2px;
  box-sizing: border-box;

  > button {
    padding: 0 14px;
    height: 39px;
    margin: 3px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;

    color: #ffffff;
  }
  > input {
    padding-left: 12px;
    width: 100%;
    height: 100%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    outline: none;

    color: #58575c;
    &::placeholder {
      opacity: 0.6;
    }
  }
}
.footer__email-checkbox {
  > label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #252525;
    > a {
      text-decoration-line: underline;
      color: $accent;
    }
  }

  > input[type="checkbox"] {
    display: none;
  }

  > input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    margin-right: 14px;
    margin-top: -2px;
    height: 16px;
    width: 16px;
    background-color: #f2f2f2;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    transition: color ease 0.3s;
  }

  > input[type="checkbox"]:checked + label:before {
    background: url("../img/svg/check.svg") 55% 47% / 72% no-repeat $accent;
  }
}
// < Footer Newsletter />

.footer__bottom-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  margin-top: 42px;
  > a {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;

    color: #58575c;
  }
  > :nth-child(2) {
    padding: 0 12px;
    margin: 0 12px;
    border-left: 1px solid #58575c;
    border-right: 1px solid #58575c;
  }
}

@media (max-width: 1024px) {
  .footer__container {
    flex-wrap: wrap;
    > :nth-child(5) {
      flex-basis: 100%;
    }
  }
  .footer__newsletter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    > h5 {
      margin-top: 12px;
      margin-bottom: 20px;
      margin-right: 40px;
    }
  }
}
@media (max-width: 768px) {
  .footer__bottom-bar {
    flex-wrap: wrap;
  }
  .footer__socials {
    width: 100%;
    > a {
      width: 28px;
      height: 28px;
    }
  }
}
@media (max-width: 767px) {
  .footer__bottom-bar {
    > :nth-child(2) {
      border-left: none;
      border-right: none;
    }
  }
}

@media (max-width: 460px) {
  .footer__container {
    padding: 0 16px;
  }
}
@media (max-width: 375px) {
  .footer__container {
    border-top: 1px solid #e8e8e8;
    > :nth-child(5) {
      order: -1;
      margin-top: 30px;
    }
  }
  .footer__newsletter {
    padding-bottom: 40px;
    border-bottom: 1px solid #e8e8e8;
    > h5 {
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-right: 0;
      margin-top: 0;
    }
    > div {
      width: 100%;
      max-width: 100%;
    }
  }
  .footer__email {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .footer__email-checkbox {
    > label {
      font-size: 12px;
      line-height: 17px;
    }
  }
  .footer__email-checkbox > label:before {
    margin-right: 10px !important;
  }
  .footer__phone {
    a {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .footer__socials {
    a {
      margin: 2px;
    }
  }
  .footer__logo {
    display: none;
  }
  .footer__branding {
    order: 5;
  }
  .footer__bottom-bar {
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 20px;
    margin-top: 50px;
    > a {
      text-align: left;
      flex-basis: 100%;
      font-size: 14px;
      line-height: 20px;
      margin-left: 16px;
      margin-top: 16px;
    }
    > :nth-child(2) {
      border: 0;
      padding: 0;
      margin-left: 16px;
      margin-top: 16px;
    }
  }
}
@media (max-width: 320px) {
  .footer__container {
    > :nth-child(n + 1) {
      flex-basis: 100%;
    }
  }
  .footer__socials {
    a {
      width: 32px;
      height: 32px;
    }
  }
}
