.product {
  display: flex;
  flex-direction: column;
  width: 232px;
  min-width: 232px;
  height: 365px;
  padding: 13px 15px 14px;

  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 2px;

  // Отступы для теней
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;

  &:hover {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0px 9px 15px rgba(224, 228, 229, 0.62);
    border-radius: 2px;
  }
}

.product__top {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.product__label {
  display: flex;
  height: 22px;
}

.product__like {
  height: 22px;
  width: 22px;
  background: url(/img/svg/product-like.svg) 0 0/100% no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  &:hover {
    background: url(/img/svg/product-like-active.svg) 0 0/100% no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.product__image {
  display: flex;
  justify-content: center;

  margin-top: 10px;
  img {
    max-width: 150px;
    max-height: 150px;
  }
}

.product__middle {
  span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #58575c;

    opacity: 0.5;
  }
  h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #58575c;
  }
}

.product__size {
  display: flex;
  margin-top: 9px;
}

.product__size-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  width: 18px;
  height: 18px;

  background: #f2f2f2;
  box-sizing: border-box;
  border-radius: 2px;
  &:hover {
    border: 1px solid #08a979;
    span {
      color: #252525;
      opacity: 1;
    }
  }
  &:nth-last-child(1) {
    border: 1px solid #08a979;
    cursor: default;
    span {
      color: #252525;
      opacity: 1;
      margin-right: 1.5px;
    }
  }
  span {
    letter-spacing: -0.04em;
    opacity: 0.4;
    margin-top: 1px;
  }
}

.product__bottom {
  margin-top: auto;
  display: flex;

  align-content: flex-end;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
}

.product__cost-strike {
  align-self: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  align-self: flex-end;

  text-decoration-line: line-through;

  color: #58575c;

  opacity: 0.5;
}
.product__cost {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #58575c;
}
.product__discount {
  align-self: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-top: 2px;
  margin-left: 12px;

  color: #08a979;

  border: 1px solid rgba(8, 169, 121, 0.2);
  box-sizing: border-box;
  border-radius: 12px;

  span {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 1px;
    line-height: 12px;
  }
}

.product__button-basket {
  margin-left: auto;
  width: 32px;
  height: 32px;
  align-self: flex-end;
  background: url(/img/svg/button-basket.svg) 0 0/100% no-repeat;
  background-position: 50% 50%;
  &:hover {
    background: url(/img/svg/button-basket-active.svg) 0 0/50% no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    background-color: #08a979;
  }
}

@media (max-width: 768px) {
  .product {
    width: 212px;
    min-width: 212px;
    height: 345px;
    padding: 10px 13px 11px;
  }

  .product__image {
    img {
      max-width: 137px;
      max-height: 137px;
    }
  }

  .product__middle {
    > span {
      font-size: 11px;
    }
    h4 {
      font-size: 14px;
    }
  }

  .product__cost {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .product {
    width: 159px;
    min-width: 159px;
    height: 297px;
    padding: 7px 10px 7px;
  }

  .product__label {
    height: 18px;
  }

  .product__like {
    width: 19px;
    height: 18px;
  }

  .product__image {
    margin-top: 1px;
    img {
      max-width: 118px;
      max-height: 118px;
    }
  }

  .product__middle {
    > span {
      font-size: 11px;
    }
    h4 {
      font-size: 12px;
    }
  }

  .product__cost {
    font-size: 14px;
  }

  .product__discount {
    line-height: 14px;
    margin-left: 5px;
    margin-top: 3px;
  }

  .product__button-basket {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 320px) {
  .product {
    width: 126px;
    min-width: 126px;
    height: 235px;
    padding: 10px 8px 8px;
  }

  .product__label {
    height: 14px;
  }
  .product__like {
    width: 14px;
    height: 13.5px;
  }

  .product__image {
    img {
      max-width: 90px;
      max-height: 90px;
    }
  }

  .product__middle {
    > span {
      font-size: 9px;
    }
    h4 {
      font-size: 9px;
      line-height: 11px;
    }
  }

  .product__size {
    margin-top: 4px;
  }
  .product__size-item {
    width: 14px;
    height: 14px;
    span {
      font-size: 9px;
      line-height: 9px;
      margin: 0;
    }
  }

  .product__cost {
    font-size: 12px;
  }
  .product__cost-strike {
    font-size: 9px;
    line-height: 9px;
  }
  .product__discount {
    font-size: 9px;
    line-height: 9px;
    margin-left: 5px;
    margin-top: -2px;

    span {
      line-height: 12px;
      margin: 0 4px;
    }
  }
  .product__button-basket {
    width: 20px;
    height: 20px;
  }
}
