.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  //padding-bottom: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*
@media (max-width: 768px) {
  .wrapper {
    padding-bottom: 80px;
  }
}
*/
