@import "base/*.scss";
@import "global/*.scss";
@import "**/_*.scss";
@import "../components/**/*.scss";

// Отступ для тапбара
@media (max-width: 460px) {
  body {
    padding-bottom: 90px;
  }
}
@media (max-width: 375px) {
  body {
    padding-bottom: 60px;
  }
}
