<div class="product-info">
    <div class="product-info__nameplates">
        <div class="nameplate-discount">
            <span>–50%</span>
        </div>
        <div class="nameplate-hit"><img src="./img/svg/hit-big.svg" alt="hit"></div>
        <div class="product-info__like"></div>
    </div>
    <h1 class="product-info__title">Антисептик RAVENOL 4014835737617</h1>
    <p class="product-info__short-about-title">Коротко о товаре</p>
    <p class="product-info__short-about">форма выпуска: жидкость</p>
    <p class="product-info__short-about">назначение: для обработки кожи</p>

</div>