.filter-popularity {
  padding: 0 12px;
  border-top: 1px solid #f2f2f2;
  > label {
    height: 46px;
    display: flex;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    color: #252525;
  }

  > input[type="checkbox"] {
    display: none;
  }

  > input[type="checkbox"] + label::after {
    content: "";
    display: inline-block;
    margin-left: auto;
    //margin-right: 14px;
    // margin-top: -2px; // for 16px
    height: 14px;
    width: 14px;
    background-color: #f2f2f2;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.3s;
  }
  > label:hover::after {
    border: 1px solid $accent;
  }
  > input[type="checkbox"]:checked + label:hover::after {
    border: none;
  }

  > input[type="checkbox"]:checked + label:after {
    background: url("../img/svg/check.svg") 55% 50% / 72% no-repeat $accent;
  }
  span {
    margin-left: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #58575c;
    opacity: 0.5;
  }

  > input[type="checkbox"][disabled="disabled"] + label:after {
    display: none;
  }
  > input[type="checkbox"][disabled="disabled"] + label {
    padding-left: 28px;
  }
}
